doctype 5
html(lang="en")
  head
    title= "hello world"
    style(type="text/css")
      #editor {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
      }
    body
        div(id="editor")
          function foo(items) {
              var x = "All this is syntax highlighted";
              return x;
          }
    script(src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js")
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript')
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      var editorSession = editor.getSession();

      editorSession.setMode("ace/mode/javascript");

      // Trigger event when code is changed
      var hash = document.location.hash.replace('#', '');
      var socket = io.connect('http://localhost:3000');

      socket.emit('hash', {shorturl: hash});

      editorSession.on('change', function(e) {
          var savedValue = editor.getValue();
          socket.emit('newcode', { code: savedValue });
      });

      socket.on('code', function (data) {
          editorSession.setValue(data);
          console.log(data);
      });
